<table class="table">
  <thead>
    <tr>
      <th><%= Record.model_name.human %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% records.each do |record| %>
      <tr>
        <td><%= link_to record, project_record_path(@project, record) %></td>
        <td><%= link_to t('actions.destroy'), project_record_path(@project, record), method: :delete, data: { confirm: t('actions.destroy_prompt', model: Record.model_name.human.downcase) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
