<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Initial date</th>
      <th>Final date</th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project, project %></td>
        <td><%= project.description %></td>
        <td><%= project.initial_date %></td>
        <td><%= project.final_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
